
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,600&display=swap" rel="stylesheet">
</head>
<div class="container-fluid background-main">
  <div class="blur">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <a class="navbar-brand mb-0 h1 nav-title">ReviewPredictor</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-flex flex-row-reverse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item p-2">
            <button class="btn button" routerLink="/register">Sign Up</button>
          </li>
          <li class="nav-item p-2">
            <button class="btn button" routerLink="/login">Login</button>
          </li>
        </ul>
      </div>
    </nav>
    <div class="row h-100">
      <div class="col-12 text-center align-self-center">
        <h1 class="main-title">Welcome to ReviewPredictor!</h1>
        <p class="main-title">The page that predicts the sentiment of movie Reviews.</p>
      </div>
    </div>

    </div>
  </div>
  