<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color:rgba(255, 255, 255, 0.2);">
      <a class="navbar-brand mb-0 h1">ReviewPredictor</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <button class="btn btn-outline-primary mr-2" routerLink="/register">Sign Up</button>
          </li>
          <li class="nav-item">
            <button class="btn btn-primary" routerLink="/login">Login</button>
          </li>
        </ul>
      </div>
    </nav>
  
    <div class="row h-100">
      <div class="col-12 text-center align-self-center">
        <h1 class="display-4" style="color: #e3f2fd; ">Welcome to ReviewPredictor!</h1>
        <p class="lead" style="color: #e3f2fd;">The page that predicts the sentiment of movie Reviews.</p>
      </div>
    </div>
  </div>
  