<div class="container-fluid mt-5">
    <div class="card text-bg-dark review-box">
      <div class="card-header">
        <h2 class="text-center">Movie Review</h2>
      </div>
      <div class="card-body">
        <form [formGroup]="reviewForm" (ngSubmit)="onReview()" class="mt-4">
          <div class="form-group">
            <label for="name">Review Name</label>
            <input type="text" formControlName="name" class="form-control" id="name" placeholder="Type your full name here" />
          </div>
          <div class="form-group">
            <label for="movieName">Movie Name</label>
            <input type="text" formControlName="movieName" class="form-control" id="movieName" placeholder="Type the movie name here" />
          </div>
          <div class="form-group">
            <label for="genre">Genre</label>
            <input type="text" formControlName="genre" class="form-control" id="genre" placeholder="Type the genre of the movie here" />
          </div>
          <div class="form-group">
            <label for="text">Review</label>
            <textarea formControlName="text" class="form-control" id="text" rows="4" placeholder="Type your review here"></textarea>
          </div>
          <div class="form-group">
            <label for="feeling">Feeling</label>
            <select formControlName="feeling" class="form-control" id="feeling">
              <option value="" disabled>Select your feeling about the movie</option>
              <option value="POSITIVE">Positive</option>
              <option value="NEGATIVE">Negative</option>
            </select>
          </div>
          <button type="submit" class="button" [disabled]="!reviewForm.valid">Submit</button>
          </form>
      </div>
    </div>
  </div>
  
<div class="container mt-5">
    <h2 class="text-center">Past Reviews</h2>
    <div class="list-group mt-4">
      <div *ngFor="let review of pastReviews" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{ review.movieName }} ({{ review.genre }})</h5>
          <small>{{ review.feeling }}</small>
        </div>
        <p class="mb-1">{{ review.text }}</p>
        <small>Reviewed by {{ review.name }}</small>
      </div>
    </div>
  </div>
  